<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__home ">Главная </a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__clients">Наценки на маршрут</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__agents">Участники системы <span class="extra-navbar__count">9+</span> </a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__journal">Журнал заказов</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__cargo-requests">База автомобилей</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__completed-requests">Рассылка</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__reg extra-navbar__a_active">Журнал отказов</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__agent-balance">Оплата заявок</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__cash-log">Архив событий</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__cash-log">Заявки на бан</a></li>