<div class="profile__avatar"><img src="img/photo.jpg" alt="" /></div>
<div class="profile__name">Элина Кириллова <a href="" class="profile__settings"></a> </div>
<div class="profile__role">Бухгалтер</div>