<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__target ">Отслеживание движения</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__clients">Клиенты</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__agents">Агенты <span class="extra-navbar__count">9+</span> </a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__journal">Журнал обращений</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__cargo-requests">Заявки о приеме груза</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__completed-requests">Завершенные заявки</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__reg extra-navbar__a_active">Регистрация в офисе</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__agent-balance">Пополение баланса агента</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__cash-log">Отчет о приеме наличных</a></li>