<div class="profile__avatar"><img src="img/photo-2.png" alt="" /></div>
<div class="profile__name">Алексей Коган <button class="profile__settings"></button> </div>
<div class="profile__role">Менеджер-диспечер</div>