<div class="profile__logo">
    <a href="index.html" class=""><img src="img/logo_extra.png" alt=""></a>
</div>
<div class="profile__logo_mini">
    <a href="index.html" class=""><img src="img/logo-mini.png" alt=""></a>
</div>