<div class="profile__avatar"><img src="img/photo.jpg" alt="" /></div>
<div class="profile__name">Элина Кириллова <button class="profile__settings"></button> </div>
<div class="profile__role">Тех. поддержка</div>