<div class="profile__avatar"><img src="img/photo-4.png" alt="" /></div>
<div class="profile__name">Максим Петров <button class="profile__settings"></button> </div>
<div class="profile__role">Супер Администратор</div>