<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__1c">Админы </a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__clients">Клиенты</a></li>
<li class="extra-navbar__li "><a href="#" class="extra-navbar__a extra-navbar__agents">Агенты</a></li>