

.slider{
  margin: 0;
  padding: 0;
}

.slider li{
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
  width: 100px;
  height: 70px;
  background: $white;
  display: inline-block;
}






@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 768px ) {



}

@media ( max-width: 575px ) {



}