/* <btn> */
.btn{
  padding: 15px 65px 15px 25px;
  border-radius: 50px;
  background: $green url(../img/icons/button-arrow.png) 100% 0px no-repeat;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn__no-img{
  padding: 15px 45px 15px 45px;
  background-image: none !important;
}



.btn:active, .btn:focus{
  outline: none;
  box-shadow: none;
  color:#fff;
  background: $green url(../img/icons/button-arrow.png) 100% 0px no-repeat;
}

.btn:hover{
  box-shadow: $hover-box-shadow;
  color: $white;
}

.btn__no-img:hover, .btn__no-img:active{
  background-image: none;
}

/* <btn /> */

/* <btn__settings > */


/* <btn__settings /> */






/* <btn-download> */

.btn__download,  .btn__download:focus, .btn__download:active{
  padding: 10px 50px 9px 20px !important;
  background: $grey url(../img/icons/download.png) 100% 0px no-repeat !important;
}

.btn__download_ok{
  padding: 9px 50px 9px 20px;
  border: 2px solid $green;
  background: $white url(../img/icons/uploaded.png) 100% -1px no-repeat !important;
}

.btn__download_note{
  font-size: 14px;
  margin: 5px 0 0 0;
}

.btn__download_delete{
  border: none;
  color: $red;
  background: none;
  padding: 0px;
  cursor: pointer;
}

.btn__download_delete:hover{
  text-decoration: underline;
}

/* <btn-download /> */

.btn-middle{
  padding-right: 30px;
  padding-left: 30px;
}

.btn__little{
  padding: 10px 20px 10px 20px;
  font-size: 13px;
}

/* <btn__*> */

.btn-big{
  padding: 20px 85px 20px 45px;
  background: $green url(../img/icons/button-arrow-2.png) 100% 0px no-repeat;
}

.btn__no-radius, .btn__no-radius:focus, .btn__no-radius:active{
  border-radius: 0px !important;
}

.btn-margin{
  margin-right: 10px;
  margin-left: 10px;
}

.btn__float-right{
  float: right;
}

.btn__link{
  color: $note-grey;
  font-weight: bold;
  font-size: 16px;
}

.btn__link_green{
  color: $green;
}

.btn__link_red{
  color: $red;
}

.btn__link_decline{
  display: inline-block;
  margin: 0 0 0 30px;
  color: $black;
}

.btn__link_pl3{
  padding-left: 30px;
}

.btn__link_ml3{
  margin-left: 30px;
}

.btn__line{
  display: inline-block;
}

.btn__no-arrow{
  padding: 15px 25px 15px 25px;
  border-radius: 50px;
  background: $green;
  color: $white !important;
}

.btn__action, .btn__action:focus, .btn__action:active{
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  text-align: center;
  background: $green;
}

.btn__full-width{
  width: 100%;
}

.btn__icon{
  background: $white 50% 50% no-repeat;
  box-shadow: $hover-box-shadow;
  color: $white;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  border: 1px solid transparent;
  text-align: center;
  margin: 0 4px 0 4px;
  cursor: pointer;
  vertical-align: top;
}

.btn__icon:hover{
  box-shadow: $hover-box-shadow-dark;
}

.btn__icon_message{
  background-image: url(../img/icons/letter.png);
  background-color: $blue;
}

.btn__icon_mail{
  background-image: url(../img/icons/mail.png);
}

.btn__icon_profile{
  background-image: url(../img/icons/profile.png);
}

.btn__icon_delete{
  background-image: url(../img/icons/delete.png);
}

.btn__icon_switch{
  background-color: $green;
  background-image: url(../img/icons/switch.png);
}

.btn__icon_more{
  background-color: $green;
  background-image: url(../img/icons/more.png);
}

.btn__small,  .btn__small:focus, .btn__small:active{
  padding: 10px 25px 10px 25px !important;
  border-radius: 50px;
  font-size: 14px;
  border: none;
  text-align: center;
  background: $green;
  margin-right: 5px;
  vertical-align: top;
}

.btn__blue, .btn__blue:focus, .btn__blue:active{
  background: $blue;
  color: $white !important;
  box-shadow: none;
}

.btn__red, .btn__red:focus, .btn__red:active{
  background: $red;
  color: $white !important;
}

.btn__green, .btn__green:focus, .btn__green:active{
  background: $green;
  color: $white !important;
}

.btn__white, .btn__white:focus, .btn__white:active{
  background: $white;
  color: $black !important;
  box-shadow: $box-shadow !important;
}

.btn__white:hover{
  box-shadow: $hover-box-shadow !important;
}

/* <btn__* /> */

/* <btn-grey> */
.btn-grey, .btn-grey:focus, .btn-grey:active{
  padding: 13px 20px 13px 20px;
  border-radius: 50px;
  border:none;
  background: $grey;
  color: $black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.btn-grey:hover{
  box-shadow: $hover-box-shadow;
  color: $black;
}

/* <btn-grey /> */


/* <btn-group> */

.button-group{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.button-group__item{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 20px 10px;
  width: 180px;
  height: 63px;
  border-radius: 5px !important;
}

.btn__group_icon{
  width: 145px;
}

.btn__group_icon_more{
  display: none;
}


/* <btn-group /> */

.btn__flex{
  display: flex;
}



@media (min-width: 1315px) and (max-width: 1405px) {

  .btn__small{
    padding: 10px 20px!important;
  }

}

@media (min-width: 1278px) and (max-width: 1314px ) {

  .btn__small{
    padding: 10px 18px!important;
  }

}

@media (max-width: 1277px) {

  .btn__small{
    padding: 10px 14px!important;
  }

}

@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {

  .btn-big{
    padding: 15px 65px 15px 25px;
    border-radius: 50px;
    background: $green url(../img/icons/button-arrow.png) 100% 0px no-repeat;
    color: $white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .btn{
    font-size: 14px;
  }

  /*.btn__group_icon{
    width: 60px;
  }

  .btn__group_icon button{
    display: none;
  }

  .btn__group_icon_more{
    width: 30px;
  }*/

}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {

  .btn{
    word-break: break-all;
  }

  .btn__line{
    display: block;
  }

}