.content-block-container{
  padding: 25px 33px 20px 33px;
  background: $white;
}

.content-inside-block-container{
  margin-top: 15px;
}

.content-block__grey-back{
  background: $content-grey;
}

.content-block_single{
  margin:0 auto 0 auto !important;
  display: block !important;
}


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}