/* <content-card > */

.content-card-block{
  padding: 25px 33px 20px 33px;
  margin-bottom: 10px;
  background: $white;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

.content-card{
  padding: 25px 20px 20px 20px;
  margin: 20px 0 20px 0;
  background: $white;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

.content__card-title{
  font-weight: bold;
  font-size: 14px;
  color: $note-grey;
  display: inline-block;
}

.content__card-value{
  font-weight: bold;
  font-size: 43px;
  line-height: 35px;
  color: $green;
  display: inline-block;
  float: right;
}

/* content-card__green */
.content-card__green{
  background: linear-gradient(135deg, $green 0%, $green-gradient 100%);
}

.content-card__green .content__card-title, .content-card__green .content__card-value, .content-card__green .btn{
  color: $white !important;
}

.content-card__green .btn{
  background: $duty-green !important;
}
/* content-card__green */

/* content-card__red */
.content-card__red{
  background: linear-gradient(135deg, $red 0%, $red-gradient 100%);
}

.content-card__red .content__card-title, .content-card__red .content__card-value, .content-card__red .btn{
  color: $white !important;
}

.content-card__red .btn{
  background: $duty-red !important;
}
/* content-card__red */

/* <content-card /> */

@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}
