.container-full{
  padding: 0 15px 0 15px;
}

.container-scroll{
  overflow: auto;
}

/* <content-container> */
.content-container{
  padding-top: 25px;
  padding-bottom: 25px;
}

/* <content-container /> */


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}