.content__status{
  font-size: 15px;
  font-weight: bold;
  color: $green;
}

.content__status_green{
  color: $green;
}

.content__status_block, .content__status_red{
  color: $red;
}


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}