.content__value{
  font-size: 23px;
  font-weight: bold;
}

.content__value_small{
  font-size: 16px;
  font-weight: bolder;
}

.content__value_little{
  font-size: 21px;
  font-weight: bold;
}

.content__value_middle{
  font-size: 21px;
  font-weight: bold;
}

.content__value_status{
  color: $green;
}

.content__value_note{
  color: $black;
  font-weight: normal;
}



@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {

  .content__value{
    font-size: 20px;
  }

  .content__value_small{
    font-size: 16px;
  }

  .content__total_value{
    font-size: 18px;
  }

}

@media ( max-width: 575px ) {



}