/* <content__item> */
.content__item_inside{
  padding-top: 25px;
}

.content__item__inline{
  display: inline-block;
  vertical-align: top;
  padding-right: 40px;
  width: auto;
}

.content__item_additional{
  float: right;
  text-align: right;
  font-size: 15px;
  padding-right: 0;
}


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}