/* <content__direct> */
.content__direction_address{
  padding-left: 45px;
  position: relative;
}

.content__direction_address:before{
  content: "";
  display: block;
  width: 32px;
  height: 40px;
  position: absolute;
  left: 0;
  top: -10px;
}

.content__direction_point-a:before{
  background: url(../img/icons/direction-point-a.png) 0 50% no-repeat;
}

.content__direction_point-b:before{
  background: url(../img/icons/direction-point-b.png) 0 50% no-repeat;
  left:20px;
}

.content__direction_point-b{
  padding-left: 65px;
}

.content__direction_arrow{
  border-left:1px solid $border-grey;
  border-right:1px solid $border-grey;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: -24px;
  margin-bottom: -24px;
  background: $direct-arrow-back url(../img/icons/arrow-right-green.png) 50% 50% no-repeat;
}
/* <content__direct /> */


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}