/* <content__title> */
.content__title{
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content__title_mini{
  font-size: 21px;
}

.content__sub-title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: $note-grey;
}

.content__sub-title_black{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: $black;
}

.content__title_inner{
  margin-bottom: 0;
}

.content__title_p1{
  margin-bottom: 10px;
}
.content__title_p2{
  margin-top: 30px;
}

.content__title_green{
  color: $green;
}

.content__title_button{
  float:right;
  vertical-align: top;
  margin-top: -5px;
}

.content__title_additional{
  float:right;
  vertical-align: top;
  margin-top: -5px;
}
/* <content__title /> */


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {

  .content__title{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .content__title_additional, .content__title_button{
    float: none;
    margin-top: 10px;
  }

}

@media ( max-width: 575px ) {



}