/* <content__row> */
.content__row_single{
  padding-left: 140px;
  padding-right: 140px;
}

.content__row_single-total{
  padding-top: 15px;
  padding-bottom: 40px;
}
/* <content__row /> */



@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {

  .content__row_single{
    padding-right: 40px;
    padding-left: 40px;
  }


}

@media ( max-width: 575px ) {

  .content__row_single{
    padding-right: 0;
    padding-left: 0;
  }

}