@import "__row";

@import "__content_container";

@import "__content_block";

@import "__card-block";

@import "__content_title";

@import "__content_group";

@import "__content_value";

@import "__content_status";

@import "__content_row";

@import "__content_item";

@import "__content_label";

@import "__content_bold";

@import "__content_direction";

@import "__extra-panel";

@import "__pagination";

@import "__toggle";



@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {

  .pr-0.col-sm-12, .pl-0.col-sm-12{
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .pr-0.col-sm-12{
    margin-top: 25px;
  }

}

@media ( max-width: 575px ) {

  .content__mobile-center{
    text-align: center;
  }

}


