.content__label{
  font-size: 14px;
  font-weight: normal;
  color: $note-grey;
  display: block;
}

.content__label_small{
  font-size: 12px;
}

.content__label__inline{
  display: inline-block;
}


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}