/* <contetn__group> */
.content__group{
  border-top: 1px solid $border-grey;
  margin-left: -33px;
  margin-right: -33px;
  padding: 24px 33px 24px 33px;
}

.content__group_title{
  padding-top: 0;
  padding-bottom: 8px;
  border-top: none;
}



.content__group_title-padding{
  padding-top: 0;
  border-top: none;
}

.content__group_no-border{
  padding-top: 0;
  border-top: none;
}

.content__group_total{
  border-top:4px solid $green;
  padding-bottom: 0;
}

.content__total{
  color: $green;
  font-weight: bold;
  font-size: 18px;
}

.content__total_value{
  font-size: 20px;
}

.content__group_text-center{
  text-align: center;
}

.content__group_buttons{
  border-top: none;
  padding-top: 10px;
  padding-bottom: 0;
}

.content__group_additional{
  border-top: none;
  padding-top: 20px;
  padding-bottom: 0;
}

.content__group_pt0{
  padding-top: 0;
}

.content__group_single{
  padding-bottom: 20px;
}

.content__group_last{
  padding-bottom: 0;
}

.content__data{
  box-shadow: $hover-box-shadow;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  color: $note-grey;
}
/* <content_group /> */


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}