.content__id{
  font-size: 15px;
  font-weight: bold;
  color: $black;
  padding-left: 20px;
}

.content__bold-bigger{
  font-size: 16px;
  font-weight: bold;

}



@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}