/* <extra-panel > */

.extra-panel{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.extra-panel__item{

}

.extra-panel .form__field{
  margin-bottom: 10px;
}


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {

  .extra-panel{
    flex-direction: column;
  }

  .extra-panel__item{
    flex: 1;
  }

}