/* <form__card> */
.form__card{
  width: 540px;
  box-shadow: $hover-box-shadow;
  margin:0 auto 0 auto;
  padding: 10px 10px 10px 10px;
}

.form__card{
  margin:20px auto 20px auto;
}

.form__card_inline{
  margin-left: 0px;
  margin-right: 0px;
}



.form__order-input-border{
  width:120px;
  display: inline-block;
  margin: 0 10px 10px 0;
  border: 2px solid $border-grey;
}

.form__order-input-border:hover{
  box-shadow: none;
}

.form__order_card-number:last-child{
  margin-right: 0px;
}

.form__order_card-number{
  width: 97px;
}

.form__order_card-number:last-child{

}

.form__order_card-phone{
  width: 219px;
}

.form__order_card-holder{
  width: 490px;
}

.form__order_card-date{
  width: 228px;
}

.form__order_card-cvc{
  width: 228px;
}
/* <form__card /> */




@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}