/* <field__counter > */

.form__field_counter{
  background: $white;
  box-shadow: $box-shadow;
  font-size: 0px;
  width: 132px;
  height: 61px;
  padding: 0;
  display: block;
}

.field__counter{
  font-size: 41px;
  display: inline-block;
  width: 46px;
  height: 61px;
  padding: 0 13px 0 13px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
}

.field__counter_input{
  width: 40px;
  height: 61px;
  border: none;
  background: $white;
  font-size: 21px;
  font-weight: bold;
  color: $green;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

/* <field__counter /> */


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}