/* <form__label_float> */

.form__label_float{
  position: absolute;
  left: 22px;
  top: 18px;
  font-size: 14px;
  font-weight: normal;
  color: $note-grey;
  transition: all 0.2s ease;
}

.form__label_order-float{
  top:  12px;
}

.form__order-input:focus + .form__label_float,
.form__order-input:valid + .form__label_float,
.form__order-textarea:focus + .form__label_float,
.form__order-textarea:valid + .form__label_float{
  font-size: 12px;
  color: $note-grey;
  top: 2px;
}

.form__label_just-focus{
  display: none;
}

.form__order-input:focus + .form__label_float .form__label_just-focus,
.form__order-input:valid + .form__label_float .form__label_just-focus,
.form__order-textarea:focus + .form__label_float .form__label_just-focus,
.form__order-textarea:valid + .form__label_float .form__label_just-focus{
  display: inline-block !important;
}

/* <form__label_float /> */


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}