

.form__search_icon{
  background: none;
  padding: 0;
  border: none;
  display: none;
}

.form__search_icon:before{
  color: $black;
  font-size: 28px;
}


@media (max-width: 1200px) {

  .form__search_icon{
    display: block;
    position: absolute;
    top: 5px;
    right: 15px;
    outline: none !important;
  }

  .form__search_icon.open{
    right: 0px;
  }

  .form__search .form__field{
    display: none;
  }

  .form__search.open{
    position: relative;
  }

  .form__search.open .form__field{
    display: block;
    position: absolute;
    top: 46px;
    right: 0;
  }

}

@media ( max-width: 992px ) {




}

@media ( max-width: 767px ) {


}

@media ( max-width: 575px ) {

  .form__search_icon{
    top: 3px;
  }

}