


select.form-control:not([size]):not([multiple]){
  height: auto;
}

@import "__form_group";

@import "__form_field";

@import "__form_label";

@import "__form_label_float";

@import "__form_checkbox_radio";

@import "__form_order";

@import "__form_select";

@import "__form_counter";

@import "__form_intercity";

@import "__form_card";

@import "__form_uploader_label";

@import "__form_search";


@media (max-width: 1200px) {

  .form__order-input_big-2{
    width: 275px;
  }

  .form__order-input_full-width{
    width: 635px;
  }

  .form__order-input_full-width{
    width: 586px !important;
  }

  .form__order-address{
    width: 180px;
  }

  .form__order-date, .form__order-time{
    width: 135px;
  }

  .form__order-house{
    width: 95px;
  }

  .form__order-weight{
    width: 109px;
  }

}

@media ( max-width: 992px ) {

  .form__order-input_big-2{
    width: 275px;
  }

  .form__order-input_full-width{
    width: 585px;
  }

  .form__search-icon{
    width: 350px;
  }

}

@media ( max-width: 767px ) {

  .form__card{
    width: 100%;
  }

  .form__field__inline{
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .form__order_card-holder{
    width: 100%;
  }

  .form__group{
    margin-bottom: 15px;
  }

  .form__order{
    min-width: 0px;
  }

  .form__order-input_full-width{
    width: 300px;
  }

  .form__order_card-cvc, .form__order_card-date {

  }

}

@media ( max-width: 575px ) {

  .form__group{
    margin-bottom: 15px;
  }

  .form__order-input_big-2{
    width: 225px;
  }

  .form__order-input_full-width{
    width: 225px;
  }

  .form__order{
    min-width: 0px;
  }

  .form__order_card-cvc, .form__order_card-date {
    width: 45%;
  }

}


