/* intercity */

.form__order-intercity-city{
  width: 202px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -2px;
  border-right-color: $border-grey;
}

.form__order-intercity-address{
  width:165px;
  border-radius: 0;
  margin-right: -2px;
  border-right-color: $border-grey;
}

.form__order-intercity-house{
  width:170px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: -2px;
  border-right-color: transparent;
}

.form__order-intercity-time{
  margin-left: 0px;
}

.form__order-intercity-date{
  margin-left: 0px;
}

/* / intercity */



@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}