/* <form__field> */
.form__field{
  padding: 0 0 0px 0;
  position: relative;
}

.form__field_mw{
  max-width: 500px;
}

.form__field_p1{
  padding: 0 0 8px 0;
}

.form__field_mt2{
  margin-top: 20px !important;
}

.form__field__inline{
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  width: auto;
}

.form__field_width{
  width: 275px;
}

.form__field_center{
  margin: 0 auto 10px auto;
}

.form__field_no-padding-right{
  margin-right: 0px;
}

.form__field_title{
  font-weight: bold;
  font-size: 18px;
}

.form__inline-inputs .form-control{
  float:left;
}

.form__inline-inputs .form-control-right{
  float:right;
}

.form__inline-inputs:after, .form__field:after{
  content: "";
  display: block;
  clear: both;
}

.form__field-hidden{
  display: none;
}

/* <form__field /> */


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}