.form__order{
  min-width: 540px;
}

/* <form__order> */
.form__point-a, .form__point-b{
  position: relative;
}

.form__point-a:before, .form__point-b:before{
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  top: 0px;
  width: 23px;
  height: 38px;
}

.form__point-a:before{
  background: url(../img/icons/point-a.png);
  top:10px;
}

.form__point-b:before{
  background: url(../img/icons/point-b.png);
  top:-5px;
}

.form__point-a.form__field_focused:before{
  background: url(../img/icons/point-a-hover.png);
}

.form__point-b.form__field_focused:before{
  background: url(../img/icons/point-b-hover.png);
}

.form__order-input{
  font-size: 14px;
  height: 43px;
  padding: 16px 20px 6px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.form__order-textarea{
  font-size: 14px;
  width: 275px !important;
  height: 160px;
  padding: 16px 20px 6px 20px;
  border: 2px solid transparent;
  border-radius: 5px;

}

.form__order-card-input{
  padding: 14px 20px 8px 20px;
}

.form__order-input:focus{
  color: $black;
}

.form__order-input-shadow{
  box-shadow: $hover-box-shadow;
  width:200px;
  display: inline-block;
  margin: 0 10px 10px 0;
}

.form__order-input-search{
  background: $search-grey;
  width: 300px;
}

.form__order-input-search_white{
  background: $white;
  width: 300px;
}

.form__search-icon{
  background-image: url(../img/icons/search-icon.png);
  background-position: 100% -5px;
  background-repeat: no-repeat;
  padding-right: 60px !important;
  width: 300px;
}

.form__order-input_big{
  padding: 20px 20px 20px 20px;
  height: 66px;
}

.form__order-input_big-2{
  padding: 20px 20px 20px 20px;
  height: 56px;
  width: 300px;
}

.form__order-input_full-width{
  width: 635px;
}

.form__order-select{

}

.form__order_link{
  color: $green;
  font-weight: bold;
}

.form__order-textarea{
  font-size: 14px;
  height: 115px;
  padding: 9px 20px 13px 20px;
  border:2px solid transparent;
  border-radius: 5px;
}

.form__order-input:hover{
  box-shadow: $hover-box-shadow;
}

.form__order-input:focus{
  border-color: $green;
  box-shadow: none;
}

.form__order-address{
  width:210px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -2px;
  border-right-color: $border-grey;
}

.form__order-house{
  width:110px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form__order-time{
  width:150px;
  margin-left: 0px;
  padding-right: 10px;
  height: 43px !important;
}

.form__order-date{
  width:150px;
  margin-left: 0px;
  padding-right: 10px;
  height: 43px !important;
}


.form__order-terminal{
  position: relative;
  padding-left: 30px;
}

.form__order-terminal:before{
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 5px;
  width: 25px;
  height: 31px;
  background: url(../img/address.png);
}

.form__order-weight{
  width:110px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -2px;
  border-right-color: $border-grey;
}

.form__order-length{
  width:110px;
  border-radius: 0;
  margin-right: -2px;
  border-right-color: $border-grey;
}

.form__order-width{
  width:110px;
  border-radius: 0;
  margin-right: -2px;
  border-right-color: $border-grey;
}

.form__order-height{
  width:110px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form__order-city{
  background: none;
  font-size: 18px;
  font-weight: bolder;
  box-shadow: none !important;
  height: auto;
  border-bottom: 2px dashed $green;
  border-radius: 0px;
  padding: 0 0 5px 0;
}

.form__order-city + .select2-container--default .select2-selection--single{
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bolder;
  border-bottom: 2px dashed $green;
  padding: 0px 0 5px 0;
  border-radius: 0;
}

.form__order-city + .select2-container .select2-selection--single .select2-selection__rendered{
  padding: 3px 0 15px 6px;
  color: $black;
}

.form__order-city + .select2-container .select2-selection--single{
  height: 35px;
}

label[for="sender-city"]{
  margin-bottom: -5px;
}



@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}