/* <input[type="radio"]> <input[type="checkbox"]> */
input[type="radio"]{
  display: none;
}

input[type="checkbox"]{
  display: none;
}

.form__checkbox + .form__label:before{ /* галочка */
  content:"";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 37px;
  height: 37px;
  background: $checkbox-grey url(../img/checked.png) 50% 50% no-repeat;
  border-radius: 50%;
}

.form__checkbox + .form__label:hover:before{
  box-shadow: $hover-box-shadow;
}

.form__checkbox_white + .form__label:before{
  box-shadow: $hover-box-shadow;
  background-color: $white;
}

.form__checkbox_small + .form__label:before{
  width: 16px;
  height: 16px;
  background-image: url(../img/icons/ok-small.png);
  display: inline-block;
  position: relative;
  left: auto;
  top: auto;
  margin: 0px 10px -2px 0;
}



.form__checkbox + .form__label{
  display: inline-block;
  vertical-align: middle;
  padding: 7px 0 0 47px;
  position: relative;
}

.form__checkbox_small + .form__label{
  padding-left: 0px;
}

.form__checkbox:checked + .form__label:before{
  background-color: $green;
}
/* <input[type="radio"] /> <input[type="checkbox"] /> */



@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}