/* <form__select > */

.form__order-select, .form__order-select + .select2-container{
  width: 250px;
}

.form__order-select_search{
  width: 275px;
}

.form__order-select + .select2-container--default .select2-selection--single{
  font-size: 14px;
  height: 43px;
  padding: 7px 20px 6px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-weight: bolder;
}

.form__order-select + .select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 20px;
  right: 10px;
  background: url(../img/icons/arrow-down.png);
  width: 13px;
  height: 7px;
}

.form__order-select + .select2-container--default .select2-selection--single .select2-selection__arrow b{
  display: none;
}

.form__order-select.form__order-input-shadow +.select2-container--default .select2-selection--single{
  box-shadow: $hover-box-shadow;
}

.form__order-select_border + .select2-container--default .select2-selection--single{
  border: 1px solid $grey;
}

/* <form__select /> */



@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}