/* <uploader__label > */
.uploader__label{
  color: $note-grey;
  cursor: pointer;
  position: relative;
  padding-left: 42px;
}

.uploader__label b{
  color: $black;
}

.uploader__label:before{
  content: "+";
  background: $blue;
  color: $white;
  border-radius: 50%;
  width: 37px;
  line-height: 37px;
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  top: 14px;
  font-size: 26px;
}
/* <uploader__label /> */



@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}