/* <form__group> */
.form__group{
  position: relative;
  padding: 10px 0 10px 0;
  margin: 0 0 20px 0;
}

.form__group_mb1{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.form__group_border{
  border: 2px solid $border-grey;
  border-left: none;
  border-right: none;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 40px;
  padding-right: 40px;
}

.form__group_border-1{
  border: 1px solid $border-grey;
  border-left: none;
  border-right: none;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 33px;
  padding-right: 33px;
}

.form__group_white{
  background: $white;
  width: 760px;
  padding: 20px 20px 20px 20px;
}
/* <form__group /> */


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}