/* <form__label> */
.form__label{
  font-size: 16px;
  font-weight: bold;
}

.form__label:not([for=""]){
  cursor: pointer;
}

.form__label_td{
  font-size: 15px;
  font-weight: normal;
}

.form__label_inline{
  display: inline-block;
  padding: 7px 0 0 15px;
  vertical-align: top;
}

.form__label_inline-top{
  padding-top: 0px !important;
}

.form__label_note{
  font-size: 14px;
  font-weight: normal;
  color: $note-grey;
  display: block;
}

.form__required-label{
  position: absolute;
  right: 20px;
  top: 19px;
  color: $note-grey;
  display: none;
}

.form__input-required .form__required-label{
  display: block;
}
/* <form__label /> */


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}