.statistic{
  border-radius: 10px;
  box-shadow: $box-shadow;
  height: 310px;
  margin: 20px 0px 20px 0px;
}

.statistic__command{
  background: $grey-light;
  flex: 0 0 290px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.statistic__command button{
  margin: 10px auto 10px auto;
}

.statistic__graph{
  background: $white;
  position: relative;
  overflow: hidden;
}

.statistic__graph:after{
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 10px;
  left: 0;
  bottom: 0;
  background: $white;
}



.morris-hover{
  position:absolute;
  z-index:1000;
}

.morris-hover.morris-default-style{
  border-radius:10px;
  padding:6px;
  color:#666;
  background:rgba(255,255,255,0.8);
  border:solid 2px rgba(230,230,230,0.8);
  font-family:sans-serif;
  font-size:12px;
  text-align:center;
}

.morris-hover.morris-default-style .morris-hover-row-label{
  font-weight:bold;
  margin:0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point{
  white-space:nowrap;
  margin:0.1em 0;
}