.main-container{
  height: 100%;
}

.main-row{
  height: 100%;
}

.left-column{
  width: $left-column-width;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  transition: .3s ease all;
  overflow: hidden;
  z-index: 100;
}

.right-column{
  height: 100%;
  margin-left: $right-column-margin-left;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  position: relative;
  transition: .3s ease all;
}

.right-column > .content-container{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.exit-link{
  position: absolute;
  bottom: 30px;
  font-weight: bold;
}

.exit-link a{
  color: $note-grey;
}

.extra-navbar__mobile-menu-toogler{
  display: none;
}


@media (max-width: 1200px) {

  .left-column{
    width: $left-column-width-1200;
  }

  .right-column{
    height: 100%;
    margin-left: $right-column-margin-left-1200;
  }

}

@media ( max-width: 992px ) {



  .left-column{
    width: $left-column-width-992;
    padding: 25px 0px 20px !important;
    overflow: hidden;
    transition-delay: $left-column-transition-delay-before;
  }

  .left-column:after{
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    width: $left-column-width-992;
    height: 100%;
  }

  .left-column:hover{
    width: $left-column-width-hover-992;
    z-index: 200;
    box-shadow: $box-shadow;
    transition-delay: $left-column-transition-delay-after;
  }

  .left-column:hover:after{
    z-index: 1;
  }

  .right-column{
    margin-left: $right-column-margin-left-992;
    width: auto;
  }

  .right-column > .content-container{
    padding-left: 0 !important;
  }

  .exit-link{
    position: absolute;
    bottom: 30px;
    left: 5px;
    font-weight: bold;
  }

  .exit-link a{
    color: $note-grey;
  }

  .left-column:hover .exit-link{
    left: 25px;
  }

}

@media ( max-width: 768px ) {



}

@media ( max-width: 575px ) {

  .left-column{
    width: 100%;
    height: 50px;
    padding: 10px 15px 10px 15px !important;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: $hover-box-shadow;
  }

  .left-column:after{
    content: none;
    display: none;
  }

  .left-column:hover{
    width: 100%;
    z-index: 200;
    box-shadow: $box-shadow;
    transition-delay: $left-column-transition-delay-after;
  }

  .right-column{
    margin-left: 0;
    width: auto;
    padding-top: 50px;
  }

  .exit-link{
    bottom: auto;
    left: auto;
    right: 70px;
    top: 10px;
    font-size: 0;
  }

  .exit-link__mobile{
    display: block;
  }

  .exit-link__mobile:before{
    font-size: 20px;
    color: $black;
  }

  .left-column:hover .exit-link{
    left: auto;
  }

}