/* <header__nav > */

.header-nav{
  text-align: left;
}

.header-nav__li{
  margin-right: 40px;
}

.header-nav__li:last-child{
  margin-right: 0px;
}

.header-nav__a{
  padding: 6px 0px 11px 0px;
  border-bottom: 4px solid transparent;
  color: $note-grey;
  font-size: 18px;
  display: block;
}

.header-nav__active{
  padding: 6px 0px 11px 0px;
  border-bottom: 4px solid $green;
  font-size: 18px;
  display: block;
}

.header-nav__mobile-menu-toogler{
  display: none;
}


/* <header__nav /> */


@media (max-width: 1200px) {

  .header-nav__a, .header-nav__active{
    font-size: 16px;
    padding: 6px 0px 14px 0px;
  }

}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {

  .header-nav__mobile-menu-toogler{
    position: absolute;
    left: 15px;
    top: 5px;
    padding: 0;
    background: none;
    border: none;
    display: block;
  }

  .header-nav__mobile-menu-toogler:before{
    content: "\f144";
    display: block;
    font-family: "Flaticon";
    color: $black;
    font-size: 30px;
  }

  .header-nav{
    display: none;
  }

  .header-nav__mobile-menu-toogler.open{

  }

  .header-nav__mobile-menu-toogler.open:before{
    content: "\f181";
  }

  .header-nav.mobile-open{
    position: absolute;
    display: block;
    background: $white;

    top: 40px;
    left: 0;
    z-index: 100;
    padding: 20px 15px 20px 15px;
  }

  .header-nav__li{
    display: block;

  }

}

@media ( max-width: 575px ) {

  .header-nav__mobile-menu-toogler{
    top: 12px;
    outline: none !important;
  }



}