

.extra-navbar__home:before{
  background-image: url(../img/icons/home.png);
  width: 19px;
  height: 15px;
}

.extra-navbar__home:hover:before, .extra-navbar__home.extra-navbar__a_active:before{
  background-image: url(../img/icons/home_.png);
}

.extra-navbar__journal:before{
  background-image: url(../img/icons/journal.png);
}
.extra-navbar__journal:hover:before, .extra-navbar__journal.extra-navbar__a_active:before{
  background-image: url(../img/icons/journal_.png);
}

.extra-navbar__1c:before{
  background-image: url(../img/icons/1c.png);
}
.extra-navbar__1c:hover:before, .extra-navbar__1c.extra-navbar__a_active:before{
  background-image: url(../img/icons/1c_.png);
}

.extra-navbar__clients:before{
  background-image: url(../img/icons/clients.png);
}
.extra-navbar__clients:hover:before, .extra-navbar__clients.extra-navbar__a_active:before{
  background-image: url(../img/icons/clients_.png);
}

.extra-navbar__target:before{
  background-image: url(../img/icons/target.png);
}
.extra-navbar__target:hover:before, .extra-navbar__target.extra-navbar__a_active:before{
  background-image: url(../img/icons/target_.png);
}

.extra-navbar__journal:before{
  background-image: url(../img/icons/1c.png);
}
.extra-navbar__journal:hover:before, .extra-navbar__journal.extra-navbar__a_active:before{
  background-image: url(../img/icons/1c_.png);
}

.extra-navbar__cargo-requests:before{
  background-image: url(../img/icons/cargo-requests.png);
}
.extra-navbar__cargo-requests:hover:before, .extra-navbar__cargo-requests.extra-navbar__a_active:before{
  background-image: url(../img/icons/cargo-requests_.png);
}

.extra-navbar__completed-requests:before{
  background-image: url(../img/icons/completed-requests.png);
}
.extra-navbar__completed-requests:hover:before, .extra-navbar__completed-requests.extra-navbar__a_active:before{
  background-image: url(../img/icons/completed-requests_.png);
}

.extra-navbar__reg:before{
  background-image: url(../img/icons/reg.png);
}
.extra-navbar__reg:hover:before, .extra-navbar__reg.extra-navbar__a_active:before{
  background-image: url(../img/icons/reg_.png);
}

.extra-navbar__agent-balance:before{
  background-image: url(../img/icons/agent-ballance.png);
}
.extra-navbar__agent-balance:hover:before, .extra-navbar__agent-balance.extra-navbar__a_active:before{
  background-image: url(../img/icons/agent-ballance_.png);
}

.extra-navbar__cash-log:before{
  background-image: url(../img/icons/cash-log.png);
}
.extra-navbar__cash-log:hover:before, .extra-navbar__cash-log.extra-navbar__a_active:before{
  background-image: url(../img/icons/cash-log_.png);
}

.extra-navbar__agents:before{
  background-image: url(../img/icons/journal.png);
}
.extra-navbar__agents:hover:before, .extra-navbar__agents.extra-navbar__a_active:before{
  background-image: url(../img/icons/journal_.png);
}