/* <sub-top-navbar> */
.sub-top-navbar{
  padding: 5px 0 5px 0;
  float: left;
}

.sub-top-navbar__li{
  margin: 0 25px 0 0px;
}

.sub-top-navbar__li_with-count{
  margin-right: 45px;
}

.sub-top-navbar__a{
  font-size: 18px;
  font-weight: bolder;
  display: block;
  color: $sub-top-menu-grey;
  padding-bottom: 17px;
  border-bottom: 6px solid transparent;
  position: relative;
}

.sub-top-navbar__a:hover, .sub-top-navbar__li.active .sub-top-navbar__a{
  color: $white;
  border-color: $green;
}

.sub-top-navbar__count{
  display: block;
  width: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background: $green;
  color: $header-black;
  border-radius: 50%;
  vertical-align: top;
  position: absolute;
  right: -30px;
  top: -10px;
}

/* <top-navbar /> */


@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}