/* <top-navbar> */
.top-navbar{
  flex-direction: row-reverse;
  padding: 15px 0 15px 0;
}

.top-navbar__li{
  margin: 0 0 0 25px;
  display: inline-block;
}

.top-navbar__a{
  font-size: 16px;
  font-weight: bolder;
}

.top-navbar__a:hover{
  color: $red;
}

.top-navbar__li.active .top-navbar__a{
  color: $red;
}

.top-navbar__menu{
  float: right;
  display: block;
  width: 100%;
  text-align: right;
}
/* <top-navbar /> */


@media (max-width: 1200px) {

  .header-nav__a, .header-nav__active{
    font-size: 16px;
    padding: 6px 0px 11px 0px;
  }

}

@media ( max-width: 992px ) {

  .top-navbar__menu{
    width: 720px;
  }

}

@media ( max-width: 767px ) {

  .top-navbar__menu{
    display: none;
    position: absolute;
    width: 540px;
    top: 60px;
    background: $white;
    z-index: 100;
    text-align: center;
  }

  .top-navbar__li{
    display: block;
    padding-left: 0px;
  }

  .top-navbar__a{
    display: block;
    padding: 10px 0 10px 0;
  }

  .top-navbar__li:last-child .top-navbar__a{
    padding-bottom: 20px;
  }

  .top-navbar__mobile{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 29px;

  }

  .top-navbar__mobile span{
    display: block;
    width: 30px;
    height: 2px;
    background: $red;
  }

  .top-navbar__mobile span:before{
    content: "";
    display: block;
    height: 2px;
    background: $red;
    top: 8px;
    position: relative;
  }

  .top-navbar__mobile span:after{
    content: "";
    display: block;
    height: 2px;
    background: $red;
    bottom: -15px;
    position: relative;
  }

}

@media ( max-width: 575px ) {

  .top-navbar__menu{
    width: calc(100vw - 30px);

  }

}