/* <extra-navbar /> */

.extra-navbar__menu{
  margin: 0 -33px 0 -33px;
  display: block;
  height: calc( 100vh - 345px );
  overflow-y: auto;
  overflow-x: hidden;
}

.extra-navbar__li{
  display: block;
  position: relative;
  padding: 0px;
  margin: 0px 0 -1px 0;
  border: 1px solid $border-grey-2;
  border-left: none;
  border-right: none;
}

.extra-navbar__a{
  display: block;
  padding: 15px 20px 15px 20px;
  border-left: 4px solid transparent;
  font-weight: bold;
  color: $note-grey;
  word-wrap: normal;
  width: $left-column-width;
  position: relative;
}

.extra-navbar__a:hover, .extra-navbar__a_active{
  border-left-color: $green;
  background: $grey-light;
  color: $black;
}

.extra-navbar__count{
  display: block;
  border-radius: 50%;
  background: $green;
  color: $white;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 17px;
  right: 10px;
}

/* <extra-navbar /> */

.extra-navbar__a:before{
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/icons/journal.png) 50% 50% no-repeat;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

.extra-navbar__a_active:after{
  content: "";
  display: block;
  width: 15px;
  height: 18px;
  background: url(../img/icons/arrow-right.png);
  position: absolute;
  right: 15px;
  top: 14px;
}


@media (max-width: 1200px) {

  .extra-navbar__a{
    width: $left-column-width-1200;
  }

}

@media ( max-width: 992px ) {

  .extra-navbar__menu{
    margin: 0 0 0 0;
    overflow-y: hidden;
    height: calc( 100vh - 300px );
  }

  .extra-navbar__a{
    color: transparent;
    padding-left: 15px;
    padding-right: 35px;
    width: 240px;
    height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition-delay: $left-column-transition-delay-before;
  }

  .extra-navbar__count{
    transition-delay: $left-column-transition-delay-before;
  }

  .extra-navbar__a_active:after{
    content: "";
    display: none;
    transition-delay: $left-column-transition-delay-before;
  }

  .left-column:hover .extra-navbar__menu{
    overflow-y: auto;
  }

  .left-column:hover .extra-navbar__a{
    color: $note-grey;
    transition-delay: $left-column-transition-delay-after;
  }

  .left-column:hover .extra-navbar__a:hover, .left-column:hover .extra-navbar__a_active{
    border-left-color: $green;
    background: $grey-light;
    color: $black;
    transition-delay: $left-column-transition-delay-after;
  }

  .left-column:hover .extra-navbar__count{
    transition-delay: $left-column-transition-delay-after;
  }

  .left-column:hover .extra-navbar__a_active:after{
    transition-delay: $left-column-transition-delay-after;
  }

}

@media ( max-width: 767px ) {

  .left-column:hover .extra-navbar__a{
    font-size: 14px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    transition-delay: $left-column-transition-delay-after;
  }

  .extra-navbar__mobile-menu-toogler{
    position: absolute;
    right: 15px;
    top: 3px;
    padding: 0;
    background: none;
    border: none;
    outline: none !important;
  }

  .extra-navbar__mobile-menu-toogler:before{
    content: "\f144";
    display: block;
    font-family: "Flaticon";
    color: $black;
    font-size: 30px;
  }

  .extra-navbar__mobile-menu-toogler.open:before{
    content: "\f181";
  }

}

@media ( max-width: 575px ) {

  .extra-navbar__mobile-menu-toogler{
    display: block;
  }

  .extra-navbar__menu.mobile-open{
    position: fixed;
    background: $white;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 48px 0px 20px 0px;
  }

  .extra-navbar__a{
    width: 100%;
  }

}