/* <profile detail > */

.profile-detail__avatar{
  display: inline-block;
  width: 108px;
  height: 108px;
}

.profile-detail__avatar img{
  border: 4px solid $green;
  border-radius: 50%;
  margin-top: -20px;
}

.profile-detail__avatar_blocked img{
  border-color: $red;
}

.profile-detail__info{
  display: inline-block;
  margin: 0 0 0 20px;
}

/* <profile 2 /> */

@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}