
/* <profile__logo > */
.profile__logo{
  width: 106px;
  height: 31px;
  margin: 0px auto 41px auto;
}

.profile__logo img{
  width: 106px;
  height: 31px;
}

.profile__logo_mini{
  width: 31px;
  height: 31px;
  margin: 0px auto 10px auto;
  display: none;
}

.profile__logo_mini img{
  width: 31px;
  height: 30px;
}
/* <profile__logo /> */



@media (max-width: 1200px) {

  .profile__logo{
    margin: 0px auto 30px auto;
  }

}

@media ( max-width: 992px ) {

  .profile__logo{
    display: block;
    opacity: 0;
    margin: 0px auto 10px auto;
    position: absolute;
    width: $left-column-width-hover-992;
    transition-delay: $left-column-transition-delay-before;
    text-align: center;
  }

  .profile__logo_mini{
    display: block;
    opacity: 1;
    width: $left-column-width-992;
    position: absolute;
    text-align: center;
    transition-delay: $left-column-transition-delay-before;
  }

  .left-column:hover .profile__logo{
    opacity: 1;
    transition-delay: $left-column-transition-delay-after;
  }

  .left-column:hover .profile__logo_mini{
    opacity: 0;
    transition-delay: $left-column-transition-delay-after;
  }

}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {

  .profile__logo{
    width: 106px;
    display: block;
    opacity: 1;
  }

  .profile__logo_mini{
    display: none;
  }

}