/* <profile > */
.profile{
  padding: 0px 0 40px 0;
}

.profile__avatar{
  width: 80px;
  height: 80px;
  margin: 0 auto 15px auto;
}

.profile__avatar img{
  width: 80px;
  height: 80px;
}

.profile__name{
  text-align: center;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  height: 28px;
}

.profile__settings{
  background: url(../img/icons/settings.png) 50% 50% no-repeat;
  padding: 14px;
  width: 15px;
  height: 15px;
  box-shadow: $hover-box-shadow;
  border: none;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 10px;
  top: 0px;
}


.profile__role{
  text-align: center;
  padding: 8px 0 0 0;
  color: $note-grey;
}
/* <profile /> */


@media (max-width: 1200px) {

  .profile {
    padding: 0 0 30px;
  }

}

@media ( max-width: 992px ) {

  .profile{
    height: 158px;
    margin-top: 51px;
    transition-delay: $left-column-transition-delay-before;
  }

  .profile__avatar{
    width: 50px;
    height: 80px;
    margin: 0 auto 10px auto;
    transition-delay: $left-column-transition-delay-before;
  }

  .profile__avatar img{
    width: 50px;
    height: 50px;
    transition-delay: $left-column-transition-delay-before;
  }

  .profile__name{
    font-size: 0px;
    transition-delay: $left-column-transition-delay-before;
  }

  .profile__settings{
    right: 15px;
    transition-delay: $left-column-transition-delay-before;
  }

  .profile__role{
    padding-right: 3px;
    padding-left: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition-delay: $left-column-transition-delay-before;
  }

  /* opened left column */


  .left-column:hover .profile__avatar{
    width: 80px;
    transition-delay: $left-column-transition-delay-after;
  }

  .left-column:hover .profile__avatar img{
    width: 80px;
    height: 80px;
    transition-delay: $left-column-transition-delay-after;
  }



  .left-column:hover .profile{
    display: block;
    height: 157px;
    transition-delay: $left-column-transition-delay-after;
  }

  .left-column:hover .profile__name{
    font-size: 15px;
    transition-delay: $left-column-transition-delay-after;
  }

  .left-column:hover .profile__role{
    padding-right: 10px;
    padding-left: 10px;
    transition-delay: $left-column-transition-delay-after;
  }

}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {

  .profile__avatar{
    position: absolute;
    top: 6px;
    right: 150px;
    width: 40px;
    height: 40px;
  }

  .profile__avatar img{
    width: 40px;
    height: 40px;
  }

  .left-column:hover .profile__avatar{
    width: 40px;
    height: 40px;
  }

  .left-column:hover .profile__avatar img{
    width: 40px;
    height: 40px;
  }

  .profile__settings{
    top: -50px;
    right: 95px;
  }

}