
@import "__profile_logo";

@import "__profile_profile";

@import "__profile_detail";



@media (max-width: 1200px) {





}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}