/* <pagination /> */

.pagination{
  margin: 10px 0 0 0;
}

.pagination__li{
  margin: 0 5px 0 5px;
}

.pagination__a{
  display: block;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 50%;
  border:1px solid transparent;
  text-align: center;
}

.pagination__a:hover, .pagination__a.active{
  border:1px solid $green;
}

.pagination__prev{
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/icons/arrow-left.png);
}

.pagination__next{
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/icons/arrow-right.png);
}

/* <pagination /> */



@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}