/* <toggle> */
.toggle__target{

}

.toggle__content{
  display: none;
}

.toggle__content_active{
  display: block;
}
/* <toggle /> */



@media (max-width: 1200px) {



}

@media ( max-width: 992px ) {



}

@media ( max-width: 767px ) {



}

@media ( max-width: 575px ) {



}