.container-table {
  background: $white;
  box-shadow: $box-shadow;
  border-radius: 5px;
  overflow-x: auto;
  width: calc( 100vw - 340px );
  display: block;
  box-sizing: border-box;
  position: relative;
}

.container-table table{
  width: 100%;
  border-collapse: collapse;
}

.container-table thead tr{

}

.container-table thead td{
  color: $note-grey;
}

.container-table td{
  padding: 20px 30px 20px 40px;
  box-sizing: border-box;
}

.container-table__log td{
  padding: 15px 30px 15px 40px;
}

.container-table tbody td{
  font-weight: bolder;
  border: 1px solid $table-border;
  border-left: none;
  border-right: none;
}

.container-table tbody tr:first-child {

}

.container-table:not(.container-table__log) tbody tr:nth-child(2n-1) td{
  background: $table-odd-grey;
}

.container-table:not(.container-table__log, .container-table__content) tbody tr:hover td{
  background: $table-hover-green;
  cursor: pointer;
}


.container-table .container-table__btn-td{
  width: 80px;
  padding: 15px 15px 15px 15px;
}

.container-table .container-table__btn-icon-td{
  width: 160px;
  padding: 15px 5px 15px 5px;
}

.container-table__btn-full-td{
  width: 295px;
}

.container-table .container-table__checkbox{
  width: 10px;
  padding: 0 0 0 20px;
}

.container-table .container-table__first-td{
  padding-left: 10px;
}


@media (max-width: 1200px) {

  .container-table{
    width: calc( 100vw - 320px );
  }

}

@media ( max-width: 992px ) {

  .container-table{
    width: calc( 100vw - 90px );
    background: $white url(../img/icons/right-left.png) 98% 5px no-repeat ;
  }

}

@media ( max-width: 768px ) {



}

@media ( max-width: 575px ) {

  .container-table{
    width: 100%;
  }

}