$font-family: 'Open Sans';

$black: #000;
$white: #fff;
$green: #81D100;
$light-green: #87d30d;
$duty-green: #75ad00;
$green-gradient: #b1d100;
$red: #CA482A;
$duty-red: #b65125;
$red-gradient: #fb8f35;
$grey: #ededed;
$grey-light: #f8f8f8;
$blue: #1592E6;

$table-hover-green: #f3fce5;
$search-grey: #f2f2f2;
$table-odd-grey: #FAFAFA;
$table-border: #F0F0F0;

$content-grey: #F5F5F5;
$content-white: #fff;
$body-grey: #EFEFEF;
$border-grey: #E2E2E2;
$border-grey-2: #EDEDED;
$checkbox-grey: #DDDDDD;
$note-grey: #AFAFAF;

$header-black: #383838;
$header-arrow-black: #424242;
$direct-arrow-back: #F7F7F7;
$sub-top-menu-grey: #9a9a9a;

$box-shadow: 0px 0px 15px rgba(0,0,0,0.03);
$hover-box-shadow: 0px 0px 15px rgba(0,0,0,0.17);
$hover-box-shadow-dark: 0px 0px 15px rgba(0,0,0,0.27);
$table-head-shadow: 0px 3px 6px rgba(0,0,0,0.1);


$left-column-width: 310px;
$right-column-margin-left: 310px;

$left-column-width-1200: 290px;
$right-column-margin-left-1200: 290px;

$left-column-width-992: 60px;
$left-column-width-hover-992: 240px;
$right-column-margin-left-992: 60px;



/* задержка для того, чтобы выплывающая панель не улетала сразу после mouseOver */
$left-column-transition-delay-before: 0.3s;
$left-column-transition-delay-after: 0s;